* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: white;
}

.location, .temperature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 50%;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section .unit {
  margin: 10px;
  font-size: 30px;
}

.degree-section .degree {
  font-size: 40px;
}