body {
  margin: 0;
  padding: 0;
}

.slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('2.jpg') no-repeat;
  background-position: 0 center;
  background-size: 100vw;

  .original-image {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100vh;
    background: url('1.jpg') no-repeat;
    background-position: 0 center;
    background-size: 100vw;
  }

  input {
    -webkit-appearance: none;
    width: 100%;
    background: none;
    z-index: 10;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 10px;
      height: 100vh;
      background-color: #111;
      cursor: pointer;
    }
  }
}
