* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

.time-select,
.sound-picker,
.player-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  height: 80%;
}

.time-select button,
.sound-picker button {
  height: 10%;
  width: 30%;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.time-select button:hover {
  color: black;
  background: white;
}

.sound-picker button {
  height: 120px;
  width: 120px;
  padding: 30px;
  border: none;
  border-radius: 50%;
}

.sound-picker button img {
  height: 100%;
}

.sound-picker button:nth-child(1) {
  background: #497281;
}

.sound-picker button:nth-child(2) {
  background: #a14f49;
}

.player-container {
  position: relative;
}

.player-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  height: 50%;
  /* The following statement is to get rid of any events on svg so that the play button underneath it could be clicked. */
  pointer-events: none;
}

.player-container .time-display {
  position: absolute;
  bottom: 10%;
  font-size: 50px;
  color: white;
}
