* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
}

.app .header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200vw;
}

.app .header div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.app .header h1 {
  margin: 50px 0 30px 0;
  font-size: 40px;
}

.app .header p {
  line-height: 30px;
  font-size: 20px;
}

.app .visual div {
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 50px;
  line-height: 50px;
  bottom: 0;
  text-align: center;
  font-size: 50px;
}

.app .operation {
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: center;
}

.app .operation .button {
  width: 200px;
  height: 50px;
  border: 3px solid #74c4e9;
  border-radius: 12px;
  font-size: 20px;
  color: #74c4e9;
  outline: none;
  background: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.app .operation .button:hover {
  cursor: pointer;
  background-color: #74c4e9;
  color: white;
}

.app .pads {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: lightblue;
}

.app .pads .pad {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100px;
  width: 100px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.app .pads .pad:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 10px 1px #222 inset;
          box-shadow: 2px 2px 10px 1px #222 inset;
}

.app .pads .pad.pad-green {
  background: #55efc4;
}

.app .pads .pad.pad-red {
  background: #ff7675;
}

.app .pads .pad.pad-pink {
  background: #c060d3;
}

.app .pads .pad.pad-yellow {
  background: #fdcb6e;
}

.app .pads .pad.pad-purple {
  background: #6c5ce7;
}

.app .pads .pad.pad-aqua {
  background: #0984e3;
}

.info-board {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 1;
}

.info-board .dash-framework {
  width: 1000px;
  height: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
  border: 10px dashed #cff0ff;
  border-radius: 20px;
  line-height: 70px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #cff0ff;
}

.info-board .dash-framework .title1 {
  margin-top: -100vw;
  -webkit-animation: fly-in 0.6s forwards;
          animation: fly-in 0.6s forwards;
}

.info-board .dash-framework .title2 {
  margin-top: -100vw;
  -webkit-animation: fly-in 0.6s forwards;
          animation: fly-in 0.6s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.info-board .dash-framework .title3 {
  margin-top: -100vw;
  -webkit-animation: fly-in 0.6s forwards;
          animation: fly-in 0.6s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.info-board .dash-framework i {
  margin-top: -100vw;
  -webkit-animation: fly-in 0.6s forwards;
          animation: fly-in 0.6s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

img {
  position: absolute;
  top: 0;
  right: -400px;
  height: 100%;
  opacity: 0.5;
}

.final-scene {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  background-color: #2d3037;
}

.final-scene .text {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 680px;
  font-family: 'Menlo';
  font-weight: bold;
  color: #aab1be;
}

@-webkit-keyframes fly-in {
  0% {
    margin-top: -100vw;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes fly-in {
  0% {
    margin-top: -100vw;
  }
  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes fly-over {
  0% {
    right: -400px;
  }
  100% {
    right: 1400px;
  }
}

@keyframes fly-over {
  0% {
    right: -400px;
  }
  100% {
    right: 1400px;
  }
}

@-webkit-keyframes jump {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 50%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes jump {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 50%;
  }
  100% {
    bottom: 0%;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes move-out {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@keyframes move-out {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    background-color: #e97474;
    border: #e97474;
    color: white;
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    background-color: #e97474;
    border: #e97474;
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    color: white;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    background-color: #e97474;
    border: #e97474;
    color: white;
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    background-color: #e97474;
    border: #e97474;
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    color: white;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */